/* Dunkel       #1f363d*/
/* Mint         #abcfc6*/
/* Peach        #ffddc9*/
/* Paperwhite   #f4f4eb*/
/* Blue         #274c77*/


/*###################################*/
/*############# Global ##############*/
/*###################################*/

body {
    margin: 0;
    padding: 0;
    font-family: "Calibri Light", sans-serif;
    background-color: #f4f4eb;
}

pre {
    white-space: pre-wrap;
}

.item-align {
    padding: 0 15px;
    display: table-cell;
    vertical-align: middle;
}

.dark-background-button, .light-background-button {
    height: 30px;
    padding: 0 25px;
    background-color: #81667A;
    color: #f4f4eb;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Calibri Light", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
}

.dark-background-button:hover {
    height: 30px;
    padding: 0 25px;
    background-color: #f4f4eb;
    color: #1f363d;
    border: none;
    border-radius: 10px;
}

.dark-background-button:focus {
    outline: none;
}

.light-background-button:hover {
    height: 30px;
    padding: 0 25px;
    background-color: #1f363d;
    color: #f4f4eb;
    border: none;
    border-radius: 10px;
}

.light-background-button:focus {
    outline: none;
}

.button-right {
    margin: 0 20px 0 30px;
}

.landingpage-wraper {
    margin-top: 100px;
}

.landingpage-wraper > h2 {
    margin-top: 200px;
}

.landingpage-headline {
    text-align: center;
    color: #1f363d;
    font-family: 'Permanent Marker', cursive;
}

.landingpage-container {
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f4f4eb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #1f363d;
    border: 1px solid #f4f4eb;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #81667A;
    cursor: grab;
}

/*###################################*/
/*############# Header ##############*/
/*###################################*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #1f363d;
}

.logo, .user-name {
    height: inherit;
    display: inline-block;
    color: #f4f4eb;
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5rem;
    padding-top: 20px;
    margin-left: 20px;
}

.nav-panel {
    height: inherit;
    display: flex;
    align-items: center;
    float: right;
}

.login-container {
   position: relative;
    display: table;
}

.login-container:hover > .login-panel {
    display: block;
}

.login-panel {
    position: absolute;
    top: 30px;
    left: -40px;
    padding: 10px;
    width: 180px;
    height: 120px;
    background-color: #1f363d;
    border-radius: 0 0 14px 14px;
    display: none;
}

.login-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-panel form > * {
    margin-bottom: 15px;
}

.login-panel input {
    width: 150px;
    height: 26px;
    text-align: center;
    border: 1px solid #f4f4eb;
    border-radius: 10px;
    background-color: transparent;
    color: #f4f4eb;
    transition: 0.2s;
}

.login-panel input:focus {
    width: 170px;
    border:1px solid #4ca16a;
}

.login-panel input::placeholder {
    color: #f4f4eb;
}

.login-panel input:focus {
    outline: none;
    background-color: #3b5e66;
}

/*###################################*/
/*########### AdminTool #############*/
/*###################################*/

.admin-tools {
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    top: 100px;
    left: 0;
    height: 50px;
    width: 100%;
    background-color: #1f363d;
    color: #f4f4eb;
    border-top: 1px solid #f4f4eb;
}

.admin-tools > * {
    margin: 0 20px;
}

.admin-tools > form {
    display: flex;
    align-items: baseline;
    margin-right: 50px;
}

.admin-tools select {
    margin-right: 10px;
    margin-top: 2px;
    width: 100px;
    height: 30px;
    border: 1px solid #f4f4eb;
    border-radius: 10px;
    background-color: transparent;
    color: #f4f4eb;
    outline: none;
}

.admin-tools > form > button {
    margin-top: 1px;
}

.admin-tools option {
    color: #f4f4eb;
    background-color: #1f363d;
}

.beitrag-popup-container {
    position: relative;
    display: table;
}

.beitrag-popup-panel {
    position: absolute;
    top: 30px;
    left: -200px;
    padding: 30px;
    width: 600px;
    height: 300px;
    background-color: #1f363d;
    border-radius: 0 0 14px 14px;
    display: none;
}

.beitrag-popup-container:hover > .beitrag-popup-panel{
    display: block;
}

.beitrag-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.beitrag-form > textarea::placeholder, .beitrag-form > input::placeholder {
    color: #1f363d;
    font-size: 1rem;
    font-family: "Calibri Light", sans-serif;
}

.beitrag-form textarea {
    width: 95%;
    height: 200px;
    margin-bottom: 20px;
    padding: 10px 0 0 20px;
    background-color: #f4f4eb;
    color: #1f363d;
    outline: none;
    overflow: auto;
    border-radius: 14px;
    border: none;
}

.beitrag-form input {
    height: 30px;
    width: 50%;
    margin-bottom: 20px;
    padding-left: 20px;
    background-color: #f4f4eb;
    color: #1f363d;
    outline: none;
    border: none;
    border-radius: 14px;
}

.beitrag-form button {
    width: 200px;
}

/*###################################*/
/*############ Beiträge #############*/
/*###################################*/

.beitrag-wraper {
    margin-top: 100px;
    height: calc(100vh - 100px);
    background-color: #f4f4eb;
    padding: 50px 30px;
}

.beitrag-container {
    background-color: #f4f4eb;
    color: #1f363d;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.2);
}

.beitrag-container > h3 {
    display: inline-block;
    color: #1f363d;
    border-bottom: 3px solid #1f363d;
    padding: 0 50px;
    margin-left: 10px;
}

.beitrag-container > pre {
    background-color: #fff;
    color: #1f363d;
    margin: 20px 10px 40px 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 6px 8px 20px 4px rgba(0,0,0,0.18);
    font-size: 1.2rem;
}

.beitrag-edit-panel {
    display: flex;
    justify-content: flex-end;
}

.beitrag-edit-button, .beitrag-delete-button {
    display: table;
    margin-top: 30px;
    height: 30px;
    width: 30px;
    float: right;
    text-align: center;
}

.beitrag-edit-button button, .beitrag-delete-button button {
    font-size: 1.2rem;
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
}

.beitrag-delete-button button:hover {
    color: #ff868b;
    cursor: pointer;
}

.beitrag-edit-button button:hover {
    background-color: #1f363d;
    color: #f4f4eb;
}

.kommentar-container {
    margin: 0 20px 10px 40px;
    border-top: 1px solid #1f363d;
}

.kommentar-container > pre{
    border-top: #1f363d;
}

.kommentar-form-container {
    display: inline-block;
}

.kommentar-form-container form{
    display: flex;
    align-items: baseline;
    margin-top: 30px;
}

.kommentar-form input {
    height: 26px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid #1f363d;
    padding-left: 20px;
    margin-right: 20px;
    outline: none;
}

.kommentar-form input::placeholder {
    color: #1f363d;
}

.kommentar-delete-button {
    display: inline-block;
    float: right;
}

.kommentar-delete-button button {
    border: none;
    background-color: transparent;
    color: #1f363d;
}

.kommentar-delete-button button:hover {
    color: #ff868b;
    cursor: pointer;
}


/*###################################*/
/*######### Registrierung ###########*/
/*###################################*/

.reg-form-container {
    width: 400px;
    margin: 80px auto;
    padding: 40px 0;
    border: 1px solid #1f363d;
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.54);
    display: flex;
    justify-content: center;
    background-color: #1f363d;
}

.reg-form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.reg-form-container form > * {
    margin: 10px 0;
}

.reg-form-container form input {
    width: 200px;
    padding: 10px 10px;
    text-align: center;
    border: 1px solid #f4f4eb;
    border-radius: 20px;
    background-color: transparent;
    color: #f4f4eb;
    outline: none;
    transition: 0.3s;
}

.reg-form-container form input:focus {
    width: 250px;
    border:2px solid #4ca16a;
}

.reg-form-container form input::placeholder {
    color: #f4f4eb;
}

.reg-form-container form p {
    color: #ff868b;
}

/*###################################*/
/*############ Editor ################*/
/*###################################*/

.edit-form-container {
    width: 600px;
    height: 480px;
    background-color: #1f363d;
    margin: 200px auto 0;
    padding-left: 50px;
    /*text-align: center;*/
    box-shadow: 0 11px 35px 2px rgba(0, 0, 0, 0.54);
}

.beitrag-edit-form input {
    height: 30px;
    width: 50%;
    margin-top: 30px;
    padding-left: 20px;
    background-color: #f4f4eb;
    color: #1f363d;
    outline: none;
    border: none;
    border-radius: 14px;
}

.beitrag-edit-form textarea {
    resize: none;
    width: 540px;
    height: 300px;
    margin: 30px 0 20px;
    padding-left: 20px;
    border-radius: 14px;
    background-color: #f4f4eb;
    color: #1f363d;
    font-family: "Calibri Light", sans-serif;
    font-size: 1rem;
    outline: none;
}

.beitrag-edit-form textarea::placeholder {
    font-family: "Calibri Light", sans-serif;
    font-size: 1rem;
}
