<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Neuer Admin</title>

    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <div class="logo">Möge die Macht mit ihm sein!</div>
</div>

<h2 class="landingpage-headline" style="margin-top: 140px" th:object="${neuerAdmin}" th:text="${neuerAdmin.name + ' ist jetzt Admin.'}"></h2>
<div style="text-align: center;">
    <form th:action="@{/}" method="get">
        <button class="light-background-button" type="submit">Zurück</button>
    </form>
</div>

</body>
</html>