<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Moin der Blog</title>

    <!--Für Programm-->
    <link rel="stylesheet" href="/styles.css">
    <!--Für Vorschau-->
    <link rel="stylesheet" href="../static/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">

</head>
<body>
<!--######################################################################-->
<!--############################### Header ###############################-->
<!--######################################################################-->

<div class="header">
    <div class="logo" th:if="${sitzungNutzer == null}">Moin!</div>
    <div class="user-name" th:if="${sitzungNutzer != null}" th:text="${'Moin ' + sitzungNutzer.name+'!'}"></div>
    <div class="nav-panel" th:if="${sitzungNutzer != null}">
        <div class="nav-container button-right">
            <form th:action="@{/logout}" method="post">
                <button class="dark-background-button" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <div class="nav-panel" th:if="${sitzungNutzer == null}">
        <div class="login-container dark-background-button">
            <div class="item-align">Login</div>
            <div class="login-panel">
                <form th:object="${loginDTO}" th:action="@{/login}" method="post">
                    <input type="text" placeholder="Username" th:field="*{name}">
                    <input type="password" placeholder="Passwort" th:field="*{passwort}">
                    <button class="dark-background-button" type="submit">Login</button>
                </form>
            </div>
        </div>
        <div class="nav-container button-right">
            <form th:action="@{/registrierung}">
                <button class="dark-background-button" type="submit">Registrierung</button>
            </form>
        </div>
    </div>
</div>

<!--######################################################################-->
<!--############################# AdminTool ##############################-->
<!--######################################################################-->

<div th:if="${sitzungNutzer != null}">
    <div class="admin-tools" th:if="${sitzungNutzer.getRolle() == 'admin'}">
        <div>Admin-Tool</div>
        <form th:action="@{/addAdmin}" th:object="${adminDTO}" method="post">
            <select th:field="*{id}">
                <option th:each="nutzer : ${nutzerListe}" th:text="${nutzer.name}" th:value="${nutzer.id}"></option>
            </select>
            <button class="dark-background-button" style="margin-top: 2px" type="submit">Upgrade</button>
        </form>
        <div class="beitrag-popup-container dark-background-button">
            <div class="item-align">Beitrag verfassen <span style="font-size: 0.8rem">&emsp;&#9660</span></div>
            <div class="beitrag-popup-panel">
                <form class="beitrag-form" th:action="@{/addBeitrag}" th:object="${beitragDTO}" method="post">
                    <input type="text" placeholder="Thema" th:field="*{thema}">
                    <textarea style="resize: none" placeholder="Text" th:field="*{textBeitrag}"></textarea>
                    <button type="submit" class="dark-background-button">Abschicken</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--######################################################################-->
<!--############################## Beiträge ##############################-->
<!--######################################################################-->

<div class="beitrag-wraper">

    <!--    Beiträge anzeigen      -->

    <div class="beitrag-container" th:each="beitrag : ${beitragsListe}">
        <h3 th:text="${beitrag.thema}"></h3>
        <span style="float: right; font-size: 0.95rem"
              th:text="${'Geschrieben von ' + beitrag.autor + ' am ' + beitrag.beitragZeit}"></span>
        <pre th:text="${beitrag.textBeitrag}"></pre>

        <!--        Kommentare Anzeigen       -->

        <div class="kommentar-container" th:each="kommentar :${beitrag.kommentare}">
            <span th:text="${kommentar.nutzer}" style="font-weight: bold; width: 100%"></span>

            <!--     Kommentare löschen       -->

            <div th:if="${sitzungNutzer != null}">
                <div class="kommentar-delete-button"
                     th:if="${sitzungNutzer.name == kommentar.nutzer or sitzungNutzer.rolle == 'admin'}">
                    <form th:action="@{/deleteKommentar}" method="post">
                        <input type="hidden" th:name="deleteKommentar" th:value="${kommentar.id}">
                        <button title="Löschen" type="submit">✘</button>
                    </form>
                </div>
            </div>
            <pre th:text="${kommentar.textKommentar}"></pre>
        </div>

        <!--        Kommentar verfassen      -->

        <div class="kommentar-form-container" th:if="${sitzungNutzer != null}">
            <form class="kommentar-form" th:object="${kommentarDTO}" th:action="@{/kommentieren}" method="post">
                <input type="hidden" th:name="beitragsId" th:value="${beitrag.id}">
                <input type="text" placeholder="Kommentar" th:field="*{textKommentar}">
                <button class="light-background-button" title="Abschicken" type="submit">Abschicken</button>
            </form>
        </div>
        <div class="beitrag-edit-panel">

            <!--     Beitrag löschen       -->

            <div class="beitrag-delete-button" th:if="${sitzungNutzer != null and sitzungNutzer.rolle == 'admin'}">
                <form title="Löschen" th:action="@{/deleteBeitrag}" method="post">
                    <input type="hidden" th:name="deleteBeitrag" th:value="${beitrag.id}">
                    <button title="Löschen" type="submit">✘</button>
                </form>
            </div>

            <!--        Beitrag bearbeiten        -->

            <div class="beitrag-edit-button" th:if="${sitzungNutzer != null and sitzungNutzer.rolle == 'admin'}">
                <form title="Bearbeiten" th:action="@{/editBeitrag/}" method="get">
                    <input type="hidden" th:name="editBeitrag" th:value="${beitrag.id}">
                    <button name="bearbeiten" type="submit">&boxbox;</button>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>
